h1{
    color: rgb(34, 3, 101); font-family: Arial;
}
h2{
    color: rgb(15, 186, 208); font-family: Arial;
}
h3{
    color: rgb(6, 58, 149); font-family: Arial;
}
h4{
    color:rgb(2, 20, 51); font-family: Arial;
}
h5{
    color:rgb(8, 20, 150); font-family: Arial;
}

